<nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
            {{#if @site.logo}}
                <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
            <div class="site-nav-content">
                {{#if @site.navigation}}
                    {{navigation}}
                {{/if}}
                {{#is "post"}}
                    <span class="nav-post-title {{#unless @site.logo}}dash{{/unless}}">{{post.title}}</span>
                {{/is}}
            </div>
        </div>
    </div>
</nav>

    <div class="site-nav-right">
           <a class="social-link" href="https://linkedin.com/in/randyjmartinez" target="_blank" rel="noopener" />{{> "icons/linkedin"}}</a>
           <a class="social-link" href="https://github.com/utp887" target="_blank" rel="noopener" />{{> "icons/github"}}</a>
    </div>
</nav>
